$font-family-base: "Work Sans", sans-serif;
$letter-color: white;
$background: #252a2e;
$main-color: #40c8a4;
$background-button: #1e2326;

// Estilos generales de .sobre-mi
.sobre-mi {
  background-color: $background; 
  color: $letter-color;
  padding: 60px 0;

  .text-center {
    font-weight: bold;
  }

  h2, h3 {
    color: $letter-color;
  }

  h3{
    text-align: center;
    font-size: 25px;
  }

  .tools-container{
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

//iconos
.icon-container {
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
  align-items: center;
}

.icono-img {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 5px;
  background-color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px; 
  box-shadow: 0 0 8px 2px rgba(41, 151, 122, 0.7);

  img{
    width: 80%; 
    height: 80%;
  }
}

//Botón descarga CV
.custom-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100%;
}

.container-button {
  width: 150px; // Agregar anchura si es necesario
  height: 50px;  // Agregar altura si es necesario
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border: 2px solid transparent;
    border-radius: 20px;
    transition: border-color 0.4s ease-out;
  }

  &:hover::before {
    border-color: $main-color;
    animation: drawBorder 2s linear forwards;
  }

  a {
    flex: 1; // Ocupa todo el espacio disponible del contenedor flex
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: $background-button;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 20px;

    &:hover {
      background-color: darken($background-button, 10%);
      color: $main-color;
    }
  }
}

@keyframes drawBorder {
  0% {
    clip-path: inset(0 0 0 100%);
  }
  25% {
    clip-path: inset(0 0 100% 0);
  }
  50% {
    clip-path: inset(0 100% 0 0);
  }
  75% {
    clip-path: inset(100% 0 0 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

@media (max-width: 768px) {
  .sobre-mi {
    h2 {
      font-size: 1.75rem; 
    }

    p, h3 {
      font-size: 1rem;
    }
  }
}